
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #63dc3f;

    --secondary: #ff5b5b;
    --secondary-dark: #e02a2a;

    --dark-theme: #000;

    --light-theme: #ffffff;
    --light-theme-hover: #acacac;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}



nav {
    background: transparent;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    transition: 1s;

    display: none;
}

nav.scroll {
    background: #000;
}

.nav-logo-wrap > img {
    transition: .3s;
}

.nav-logo-wrap:hover > img {
    transform: scale(.94);
    opacity: .8;
}

nav img {
    max-width: 40px;
}

.nav-burger {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-burger > img {
    transition: .3s;
}

.nav-burger:hover > img {
    transform: scale(.9);
    opacity: .8;
}

@media screen and (max-width: 800px) {
    nav {
        display: flex;
    }
}



.sidebar {
    background: #000000e5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    transition: .5s;

    top: -100%;
}

.sidebar.on {
    top: 0;
}

.sidebar img {
    max-width: 32px;
}

.sidebar-close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 40px;
}

.sidebar-close > img {
    transition: .3s;
}

.sidebar-close:hover > img {
    transform: scale(.9);
    opacity: .8;
}

.sidebar-links {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sidebar-links a {
    color: var(--light-theme);
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sidebar-links a:hover {
    background: var(--dark-theme);
    color: var(--light-theme-hover);
}



.home {
    position: relative;
    height: 740px;
}

.home-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.home-bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-bg-cover {
    background: linear-gradient(#000000ce, #00910c1e, #000);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-content {
    position: relative;
    z-index: 5;
}

.home-contacts {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.home-contacts a, .footer-contacts a {
    background: var(--light-theme);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
}

.home-contacts a:hover, .footer-contacts a:hover {
    transform: scale(.94);
    opacity: .8;
}

.home-contacts img, .footer-contacts img {
    max-width: 28px;
    max-height: 28px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 80px;
}

.phone-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 80px;
}

.phone-number h2 {
    color: var(--light-theme);
    font-weight: 400;
}

.home-menu {
    height: 160px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-menu a {
    color: var(--light-theme);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.home-menu a:hover {
    transform: scale(.94);
    opacity: .8;
}

.js-logo img {
    max-width: 80px;
    max-height: 80px;
}

.js-mobile {
    margin: 36px;
    transition: .3s;
    cursor: pointer;
    display: none;
}

.js-mobile:hover {
    transform: scale(.94);
    opacity: .8;
}

.js-mobile img {
    max-width: 80px;
    max-height: 80px;
}

.home-text {
    color: var(--light-theme);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.home-text-bg {
    background: #000000ce;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    z-index: -1;
    filter: blur(50px);
    border-radius: 50%;
}

.home-text h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home-text p {
    max-width: 800px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.home-text p:last-child {
    font-size: 20px;
    opacity: .62;
}

.home-text strong {
    color: var(--secondary);
}

@media screen and (max-width: 800px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px;
    }

    .home-contacts, .home-menu {
        display: none;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .js-mobile {
        display: block;
    }

    .home-text-bg {
        right: 0;
        left: 0;
    }

    .home-text p:last-child {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .home-content p {
        font-size: 20px;
    }
    .home-text p:last-child {
        font-size: 16px;
    }
    
}



.about {
    background: #000;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0 80px;
    z-index: 5;
}

.about h2 {
    color: var(--secondary);
}

.about p {
    color: var(--light-theme);
    font-weight: 300;
}

.about-quote, .about-text {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-quote h2 {
    font-weight: 400;
    font-size: 18px;
    margin-left: 30px;
}

.about-quote p {
    text-align: center;
}

.about-quote h2:first-child {
    margin-bottom: 30px;
}

.about-quote h2:last-child {
    margin-left: 240px;
    margin-top: 34px;
}

.about-quote p {
    position: relative;
}

.about-quote img {
    max-width: 22px;
    position: absolute;
}

.about-quote img:nth-child(2) {
    top: -16px;
    left: -20px;
}

.about-quote img:nth-child(1) {
    transform: rotate(-180deg);
    bottom: -4px;
    right: -20px;
}

.about-image {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: .3s;
}

.about-image:hover {
    transform: scale(.96);
}

.about-image img {
    max-width: 100%;
    max-height: 100%;
}

.about-image > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about-text h2 {
    font-weight: 300;
    font-size: 42px;
    margin-left: 8px;
}

@media screen and (max-width: 1200px) {
    .about-image {
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 1000px) {
    .about-image {
        width: 200px;
        height: 200px;
    }

    .about-quote h2:last-child {
        margin-top: 34px;
        margin-left: 120px;
    }
    
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
        height: 800px;
    }
    .about > div {
        width: 90%;
    }
    .about-image {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .about-quote h2:last-child {
        margin-left: 340px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        height: 700px;
        padding: 32px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .about-quote h2:last-child {
        margin-left: 280px;
    }
}

@media screen and (max-width: 450px) {
    .about {
        padding: 18px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .about-image {
        margin-top: 60px;
        margin-bottom: 40px;
        width: 180px;
        height: 180px;
    }
    .about-quote h2:last-child {
        margin-left: 140px;
    }
}



.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

.select-tool {
    background: var(--dark-theme);
    color: var(--light-theme);
    width: 100%;
    height: 240px;
    padding: 60px 80px;
    margin-bottom: 30px;
}

.select-tool h1 {
    font-size: 42px;
    font-weight: 500;
}

.select-tool > h3 {
    font-size: 20px;
    font-weight: 300;
    color: var(--light-theme-hover);
    margin-bottom: 50px;
}

.select-tool h1 strong {
    font-weight: 500;
    color: var(--secondary);
}

.tool-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tool-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.tool-scroll::-webkit-scrollbar {
    opacity: 0;
}

.tool {
    height: 120px;
    text-align: center;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
}

.tool input {
    transform: translateY(200%);
}

.tool-btn {
    width: 70px;
    height: 70px;
    border-radius: 22px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: .3s;
    box-shadow: 2px 2px 5px #24242460;
    position: absolute;
}

.tool-input:checked + .tool-btn {
    transform: scale(.86);
    filter: brightness(50%);
}

.tool-btn:hover {
    transform: scale(.9);
}

.tool img {
    width: 70%;
    height: 70%;
    z-index: 2;
    position: relative;
}

.tool-name {
    color: #242424;
    width: 80px;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 80px;
}

.tool-balls {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.ball {
    background: #242424;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

.ball.on {
    background: var(--secondary-dark);
}

.projects-conteiner {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.project {
    margin: 50px;
}

.project-name {
    font-weight: 400;
    margin: 10px 0;
}

.project-wrap {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 4px #24242460;
}

.project:hover .project-image {
    filter: brightness(40%) blur(2px);
}

.project:hover .project-btn {
    opacity: 1;
    transform: scale(1);
}

.project:hover .tools-name {
    opacity: 1;
}

.project-image {
    max-height: 100%;
    border-radius: inherit;
    transition: .5s;
}

.project-items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.tools-name {
    color: white;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    transition: .3s;
}

.project-btn-wrap {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.project-btn {
    background: var(--secondary);
    color: var(--light-theme);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    width: 86%;
    height: 44px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(.8);
    transition: .5s;
}

.project-btn:hover {
    transition: .3s;
    filter: brightness(80%);
}


.project-btn img {
    max-width: 24px;
    margin-left: -20px;
    margin-right: 10px;
}

.mobile-name, .mobile-tools {
    display: none;
}

.nothing-here {
    position: absolute;
    opacity: .6;
}

.nothing-here img {
    max-width: 200px;
}

.nothing-here p {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .tool-slider {
        width: 1200px;
    }
    .select-tool {
        padding: 60px 0;
    }
    .tool-balls {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .tool-slider {
        width: 1000px;
    }

    .tool-btn.on {
        transform: scale(.82);
    }
    
    .project {
        height: 340px;
        width: 540px;
        position: relative;
    }

    .project:hover .project-image {
        filter: brightness(100%) blur(0);
    }

    .project:hover .project-btn {
        opacity: 1;
        transform: scale(1);
    }

    .project:hover .tools-name {
        opacity: 1;
    }

    .project-wrap {
        width: 100%;
        height: 100%;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0 0 3px #242424ce;
        transform: scale(.9);
    }

    .tools-name {
        opacity: 1;
        color: #000;
        bottom: 8px;
        position: absolute;
        z-index: 5;
    }
    
    .project-image {
        position: relative;
        border-radius: 50%;
        max-height: 50%;
        box-shadow:  0 0 3px #24242460;
    }

    .project-btn-wrap {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 60%;
        width: 100%;
        margin-bottom: -4px;
    }

    .project-btn {
        position: relative;
        opacity: 1;
        width: 90%;
        height: 60px;
        transform: scale(1);
    }

    .project-items {
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .project-name {
        position: absolute;
        top: -3px;
        left: 47%;
        font-weight: 500;
    }

    .project-name, .tools-name {
        display: none;
    }

    .mobile-name, .mobile-tools {
        display: block;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile-name {
        top: 26px;
        font-size: 24px;
        font-weight: 600;
    }
    
    .mobile-tools {
        bottom: 26px;
        color: #242424;
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .project {
        width: 100%;
    }
    .tool-slider {
        width: 800px;
    }

}

@media screen and (max-width: 400px) {
    .project {
        width: 100%;
        margin: 0;
    }

    .tool-slider {
        width: 600px;
    }
    
    .project-btn {
        font-size: 16px;
    }
    .project-btn img {
        max-width: 20px;
        margin-right: 8px;
        margin-left: -8px;
    }
    .project-image {
        max-height: 46%;
    }

}

footer {
    background: var(--dark-theme);
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 12px;
    margin-top: 80px;
}

footer > h2 {
    max-width: 800px;
    font-weight: 400;
    font-size: 24px;
    color: var(--light-theme);
    opacity: .8;
}

.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.social-media.footer {
    flex-direction: column;
    height: 200px;
    align-items: flex-start;
}

.social-media.footer a {
    color: var(--light-theme);
    font-size: 22px;
    position: relative;
}

.social-media.footer a > p {
    position: absolute;
    left: 60px;
}

footer > a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
    opacity: .8;
}

.phone-number-wrap.footer {
    flex-direction: column;
    height: 140px;
}

.copy-number {
    background: var(--secondary);
    color: var(--light-theme);
    border: none;
    border-radius: 50pc;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.copy-number:hover {
    filter: brightness(80%);
}

.copy-number img {
    margin-left: 8px;
    max-width: 22px;
}

@media screen and (max-width: 600px) {
    footer {
        height: 800px;
    }
    footer > h2 {
        max-width: 90%;
        font-size: 20px;
    }
    .footer-contacts {
        flex-direction: column;
    }
}