
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #63dc3f;

    --secondary: #ff5b5b;

    --dark-theme: #121212;

    --light-theme: #ffffff;
    --light-theme-hover: #acacac;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}



nav {
    background: transparent;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;

    display: none;
}

.nav-logo-wrap > img {
    transition: .3s;
}

.nav-logo-wrap:hover > img {
    transform: scale(.94);
    opacity: .8;
}

nav img {
    max-width: 40px;
}

.nav-burger {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-burger > img {
    transition: .3s;
}

.nav-burger:hover > img {
    transform: scale(.9);
    opacity: .8;
}

@media screen and (max-width: 800px) {
    nav {
        display: flex;
    }
}



.sidebar {
    background: #000000e5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    transition: .5s;

    top: -100%;
}

.sidebar.on {
    top: 0;
}

.sidebar img {
    max-width: 32px;
}

.sidebar-close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 40px;
}

.sidebar-close > img {
    transition: .3s;
}

.sidebar-close:hover > img {
    transform: scale(.9);
    opacity: .8;
}

.sidebar-links {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sidebar-links a {
    color: var(--light-theme);
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sidebar-links a:hover {
    background: var(--dark-theme);
    color: var(--light-theme-hover);
}



.home {
    position: relative;
    height: 700px;
}

.home-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.home-bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-bg-cover {
    background: linear-gradient(#000000ce, #00910c1e, #000);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-content {
    position: relative;
    z-index: 5;
}

.home-contacts {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.home-contacts a {
    background: var(--light-theme);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
}

.home-contacts a:hover {
    transform: scale(.94);
    opacity: .8;
}

.home-contacts img {
    max-width: 28px;
    max-height: 28px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 80px;
}

.phone-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 80px;
}

.phone-number h2 {
    color: var(--light-theme);
    font-weight: 400;
}

.home-menu {
    height: 160px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-menu a {
    color: var(--light-theme);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.home-menu a:hover {
    transform: scale(.94);
    opacity: .8;
}

.home-menu img {
    max-width: 60px;
    max-height: 60px;
}

.js-mobile {
    margin: 36px;
    transition: .3s;
    cursor: pointer;
    display: none;
}

.js-mobile:hover {
    transform: scale(.94);
    opacity: .8;
}

.js-mobile img {
    max-width: 80px;
    max-height: 80px;
}

.home-text {
    color: var(--light-theme);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.home-text-bg {
    background: #000000ce;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    z-index: -1;
    filter: blur(50px);
    border-radius: 50%;
}

.home-text h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home-text p {
    max-width: 800px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.home-text p:last-child {
    font-size: 20px;
    opacity: .8;
}

.home-text strong {
    color: var(--secondary);
}

@media screen and (max-width: 800px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px;
    }

    .home-contacts, .home-menu {
        display: none;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .js-mobile {
        display: block;
    }

    .home-text-bg {
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 450px) {
    .home-content p {
        font-size: 22px;
    }
}



.about {
    background: #000;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0 80px;
    z-index: 5;
}

.about h2 {
    color: var(--secondary);
}

.about p {
    color: var(--light-theme);
    font-weight: 300;
}

.about-quote, .about-text {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-quote h2 {
    font-weight: 400;
    font-size: 18px;
    margin-left: 30px;
}

.about-quote p {
    text-align: center;
}

.about-quote h2:first-child {
    margin-bottom: 30px;
}

.about-quote h2:last-child {
    margin-left: 240px;
}

.about-quote p {
    position: relative;
}

.about-quote img {
    max-width: 22px;
    position: absolute;
}

.about-quote img:nth-child(2) {
    top: -16px;
    left: -20px;
}

.about-quote img:nth-child(1) {
    transform: rotate(-180deg);
    bottom: -4px;
    right: -20px;
}

.about-image {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: .3s;
}

.about-image:hover {
    transform: scale(.96);
}

.about-image img {
    max-width: 100%;
    max-height: 100%;
}

.about-image > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about-text h2 {
    font-weight: 300;
    font-size: 42px;
    margin-left: 8px;
}

@media screen and (max-width: 1200px) {
    .about-image {
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 1000px) {
    .about-image {
        width: 200px;
        height: 200px;
    }

    .about-quote h2:last-child {
        margin-left: 120px;
    }
    
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
        height: 700px;
    }
    .about > div {
        width: 90%;
    }
    .about-image {
        margin-top: 20px;
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 32px;
    }
}

@media screen and (max-width: 450px) {
    .about {
        height: 820px;
    }
    .about-image {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 180px;
        height: 180px;
    }
}