
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.new-portfolio {
    background: #242424;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    width: 300px;
    height: 440px;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 180px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: .3s;
}

img:hover {
    transform: scale(.96);
}

button {
    background: #ff5b5b;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 12px 42px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    filter: brightness(80%);
}
